@import '../../assets/styles/scss/mixins';
@import '../../assets/styles/scss/variables';

@mixin full-screen {
  width: 100%;
  border-radius: 0;
  margin: 0;
  box-shadow: none;
  padding-top: 64px;
  > button.close {
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
  }
}

.overlay {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background-color: rgba(35, 31, 32, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: 0;
  overflow-y: auto;
  z-index: 200;
}

.overlay > .content {
  position: relative;
  box-sizing: border-box;
  background: $cookunity-white-color;
  box-shadow: 0 0 64px rgba(0, 67, 32, 0.16), 0 16px 32px rgba(0, 67, 32, 0.06),
    0 8px 16px rgba(0, 67, 32, 0.04), 0 4px 8px rgba(0, 67, 32, 0.02);
  margin: 40px auto;
  border-radius: 10px;
  padding: 40px 32px;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
}
@media screen and (max-width: 767px) {
  .overlay > .content {
    padding: 40px 20px;
  }
}
.overlay > .content:focus {
  outline: none;
}
.overlay > .content > button.close {
  position: absolute;
  right: 16px;
  top: 16px;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  > img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
  }
}
.overlay > .content > button.close:focus {
  outline: none;
}

.overlay > .content.plus_size {
  width: 966px;
}
@media screen and (max-width: 966px) {
  .overlay.plus_size {
    background-color: $cookunity-white-color;
  }
  .overlay > .content.plus_size {
    @include full-screen
  }
}

.overlay > .content.large_size {
  width: 768px;
}
@media screen and (max-width: 768px) {
  .overlay.large_size {
    background-color: $cookunity-white-color;
  }
  .overlay > .content.large_size {
    @include full-screen
  }
}

.overlay > .content.medium_size {
  width: 600px;
}
@media screen and (max-width: 600px) {
  .overlay.medium_size {
    background-color: $cookunity-white-color;
  }
  .overlay > .content.medium_size {
    @include full-screen
  }
}

.overlay > .content.small_size {
  width: 520px;
}
@media screen and (max-width: 520px) {
  .overlay.small_size:not(.notificationOverlay) {
    background-color: $cookunity-white-color;
  }
  .overlay > .content.small_size:not(.notificationContent) {
    @include full-screen
  }
}

@media screen and (max-width: 520px) {
  .overlay > .content.small_size.notificationContent {
    width: 90%;
    padding-top: 40px;
  }
}
