@import '../../assets/styles/scss/variables';

.container_collection_card {
  display: flex;
  flex-direction: column;
  max-width: 280px;

  .tag_collection {
    background-color: #7AD7A7;
    padding: 8px 10px;
    border-radius: 0px 8px;
    position: absolute;
    left: 185px;
    font-family: Gilroy;
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFF;
  }

  .image_collection {
    height: calc(100% - 80px);
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }

  .container_title {
    background-color: #D9EDFE;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 12px 20px 12px;

    .title {
      font-family: Gilroy;
      font-size: 22px;
      font-style: normal;
      font-weight: 800;
      line-height: 27px;
      letter-spacing: 0px;
      text-align: left;
      margin: 0px;
    }
  }
}

.container_small {
  height: 157px;
}

.container_large {
  height: 340px;
}
