@import '../../assets/styles/scss/mixins';
@import '../../assets/styles/scss/variables';

.tabsContainer {
  * {
    box-sizing: border-box;
  }
  
  height: 103px;
  padding: 0;
  position: relative;
  border-bottom: 2px solid $cookunity-gray-3;

  &.scrolling{
    height: 73px;
    border-bottom: 0;
    transform: translateY(-2px) ; 
  }

  .navigation {
    position: absolute;
    height: 100%;
    display: flex;
  }

  .navigationLeft {
    left: 0;
    top: 2px;
  }

  .navigationRight {
    right: 0;
    top: 2px;
    
  }

  .button {
    background-color: white;
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover{
      background-color: #f5f5f5;
    }
  }

  .gradient {
    width: 40px;
    height: 100%;
    background: linear-gradient(270deg, #FFFFFF 21.42%, rgba(255, 255, 255, 0) 100%);
  }

  .gradientLeft {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  
  .gradientRight {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }

  .tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    transform: translateY(2px);
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    white-space: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
    
    .item {
      display: inline-grid;
      padding: 4px 8px 0px;
      margin: 0 2px;
      height: 100%;
      min-width: 78px;
      cursor: pointer;
      
      &:hover{
        background-color: #f5f5f5;
      }
      
      &.selected {
        border-bottom: 2px solid $cookunity-black;
      }

      .name {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 800;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin-top: 4px;
        margin-bottom: 8px;
      }

      .image {
        width: 62px;
        height: 62px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100px;
        object-fit: cover;

        &.scrolling{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
