@import '../../styles/variables';
@import '../../styles/mixins/fonts';
@import '../../styles/mixins/media';

.cui-pop-up-modal {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 400px auto;
  justify-content: stretch;

  @include big-screen {
    grid-template-columns: 30% 70%;
  }

  .cui-pop-up-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;

    @include big-screen {
      border-radius: 8px 0 0 8px;
    }
  }

  .cui-pop-up-content {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    border-radius: 8px 8px 0 0;
    margin-top: -8px;

    background-color: $cui-white-color;

    @include big-screen {
      margin-top: 0;
      padding: 64px 32px 48px;
      border-radius: 0 8px 8px 0;
    }

    .cui-pop-up-title {
      margin: 0;

      text-align: center;
      white-space: pre-wrap;
      color: $cui-black-color;

      @include font-build(
        $cui-font-family-source-serif,
        $cui-font-3xl,
        $cui-line-height-4xl,
        $cui-font-extrabold
      );

      @include big-screen {
        font-size: $cui-font-4xl;
        line-height: $cui-line-height-6xl;
      }
    }

    .cui-pop-up-description {
      margin: 32px 0 40px;

      text-align: center;
      letter-spacing: -0.3px;

      color: $cui-black-color;

      @include font-build(
        $cui-font-family-tt-norms,
        $cui-font-sm,
        $cui-line-height-xl,
        $cui-font-normal
      );

      @include big-screen {
        margin: 24px auto 0;

        font-size: $cui-font-base;
        line-height: $cui-line-height-2xl;
      }
    }

    .cui-pop-up-action {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: auto;
      gap: 1rem;

      @include big-screen {
        flex-direction: row;
      }
    }
  }

  .cui-pop-up-content--no-image {
    display: flex;
    flex-direction: column;
    border-radius: 8px !important;
  }
}

.cui-pop-up-modal--no-image {
  display: grid;
  grid-template-columns: 100% !important;
  grid-template-rows: 400px auto;
}

.cui-pop-up-icon {
  svg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);

    path {
      fill: $cui-black-color;
    }

    @include big-screen {
      width: 24px;
      height: 24px;
      border-radius: 0;

      background: transparent;
    }
  }
}
