@import '../../assets/styles/scss/variables';

.cookunity__input_radio_container {
  display: flex;
  cursor: pointer;

  .cookunity__input_radio {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid $cookunity-gray-3;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    .checkmark {
      // display: none;
      width: 10px;
      height: 10px;
      background-color: $cookunity-secondary-dark-green;
      border-radius: 50%;
      opacity: 0;
    }

    &.checked {
      border: 1px solid $cookunity-secondary-dark-green;
      .checkmark {
        opacity: 1;
      }
    }

    &[type='radio'] {
      display: none;
    }
  }
}