.mealCardsModal {
  @media (max-width: 720px) {
    height: 100%;
    background-color: rgba(35, 31, 32, 0.7) !important;
  }
}

.mealCardsModalInner {
  margin: 0 !important;
  position: absolute !important;
  top: 50%;
  left: 50%;
  padding: 0 !important;
  transform: translate(-50%, -50%);
  width: 100% !important;
  max-width: 948px !important;

  @media (max-width: 720px) {
    position: absolute !important;
    bottom: 0 !important;
    border-radius: 10px 10px 0px 0px !important;
    top: initial;
    left: initial;
    transform: initial;
  }

  @media (max-width: 400px) {
    height: 100% !important;
    border-radius: initial !important;
  }
}

.contentContainer {
  @media (max-width: 720px) {
    overflow: auto;
    height: 600px;
  }

  @media (max-width: 400px) {
    overflow: auto;
    height: -webkit-calc(100% - 89px);
    height:    -moz-calc(100% - 89px);
    height:         calc(100% - 89px);
  }

  .titlesContainer {
    color: black;
    padding: 32px 32px 0 32px;
    
    @media (max-width: 720px) {
      display: block;
      padding: 24px 16px 0 16px;
    }

    h2 {
      font-family: 'Gilroy';
      font-size: 28px;
      line-height: 36px;
      display: flex;
      align-items: center;
      margin-block-start: 0;

      @media (max-width: 720px) {
          font-size: 24px;
          line-height: 32px;
          margin-block-end: 0;
      }
    }

    h3 {
      font-family: 'Gilroy Semibold', 'Roboto', sans-serif;
      font-size: 28px;
      line-height: 36px;
      display: flex;
      align-items: center;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  .cardsContainerOuter {
    overflow-x: auto;
    padding: 14px 32px 0 32px;

    @media (max-width: 720px) {
      overflow: hidden;
      padding: 24px 16px 0 16px;
    }

    @media (max-width: 400px) {
      overflow: hidden;
      padding: 16px 16px 0 16px;
    }

    .cardsContainer {
      display: grid;
      column-gap: 34px;
      grid-template-columns: 268px 268px 268px;

      @media (max-width: 720px) {
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
      }
    }
  }
}

.buttonsContainer {
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto auto;
  padding: 32px;
  float: right;

  @media (max-width: 720px) {
    border-top: 1px solid #dddddd;
    float: none;
    padding: 24px 35px;
  }

  @media (max-width: 400px) {
    border-top: 1px solid #dddddd;
    float: none;
    padding: 24px 12px;
  }
}
