@import '../../assets/styles/scss/mixins';
@import '../../assets/styles/scss/variables';

.cookunity__macros_gauge {
  position: relative;
  box-sizing: content-box;
  min-width: 0;
  text-align: center;

  & > .radial_gauge {
    transform: rotate(-90deg);

    @include mobile {
      margin: 0;
    }

    & > .track {
      stroke: $cookunity-gray-3;
      stroke-width: 20;
    }

    & > .progress-bar {
      stroke-width: 20;

      &.protein {
        stroke: $cookunity-primary-green;
      }

      &.carbs {
        stroke: rgb(92, 161, 125);
      }

      &.fat {
        stroke: rgb(61, 108, 84);
      }
    }
  }

  & > .label {
    text-align: center;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    & > img {
      width: 30px;
      margin-bottom: 36px;

      @include mobile {
        margin-bottom: 18px;
      }
    }

    & > p {
      font-family: Roboto, sans-serif;
      margin: 0;

      &.calories {
        font-family: Gilroy, Roboto, sans-serif;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        letter-spacing: -1px;
        color: $cookunity-black;
        margin: 0;
      }

      &.calories_label,
      &.daily_value {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.2px;
        color: $cookunity-black;
        margin: 0;
      }

      &.daily_value {
        font-weight: bold;
      }
    }
  }
}
