.productReviews {
  color: black;
  margin-bottom: 80px;

  & > h2 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 40px 0;
  }

  & > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: black;
    margin: 0;
  }
}
