@import '../../assets/styles/scss/mixins';
@import '../../assets/styles/scss/variables';

.chef-page {
  > div {
    margin-bottom: 30px;
  }

  .socialLinks {
    position: absolute;
    right: 0;
    top: 10px;
  }
}
