@import '../../assets/styles/scss/mixins';
@import '../../assets/styles/scss/variables';

.chef-page {
  position: relative;
  width:100%;

  > div {
    margin-bottom: 30px;
  }

  .share {
    position: absolute;
    right: 0;

    .socialLinks {
      position: absolute;
      right: 0;
      top: 10px;
    }
  }

}
