{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/standard",
    "prettier/react",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/recommended",
    "plugin:testing-library/react"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "plugins": ["react-hooks", "jest", "jest-dom", "testing-library"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "react/prop-types": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "camelcase": 0,
    "react/react-in-jsx-scope": 0
  }
}
