@import '../../assets/styles/scss/mixins';
@import '../../assets/styles/scss/variables';

.share {
  position:relative;
  width:100%;

  .socialLinks {
    position: absolute;
    left: 0;
    top: 10px;
    width: 200px;
  }

  .share_button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      display: block;

      @include mobile {
        width: 24px;
        height: 24px;
      }
    }

    p {
      margin: 0;
      font-family: 'Gilroy';
      font-size: 14px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: right;
      color: #231f20;
      @include mobile {
        display: none;
      }
    }
  }
}


