@import '../../../../styles/mixins/media';
@import "../../../../styles/variables";
@import "../../../../styles/mixins/fonts";

.cui-dropdown-menu {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 10;

  @include mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(35, 31, 32, 0.7);
  }

  .cui-dropdown-menu__container {
    display: grid;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 315px;
    background-color: white;
    box-shadow: 0px 0px 12px rgba(35, 31, 32, 0.1), 0px 12px 12px rgba(35, 31, 32, 0.07);
    border-radius: 8px;

    @include mobile {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      box-shadow: initial;
      border-radius: 20px 20px 0px 0px;
      padding-top: 24px;
    }

    .cui-dropdown-menu__item {
      display: inline-flex;
      margin: 16px 16px 0 16px;
      padding-bottom: 16px;
      border-bottom: 0.5px solid rgba(153, 153, 153, 0.25);
      cursor: pointer;

      &:last-child {
        border-bottom: 0;
      }

      .cui-dropdown-menu__item-name {
        @include font-build(
          $cui-font-family-source-serif,
          $cui-font-xl,
          $cui-font-3xl,
          $cui-font-bold
        );
        display: flex;
        align-items: center;
      }

      .cui-dropdown-menu__item-img {
        margin-right: 16px;
        width: 52px;
        height: 52px;
        border: 1px solid $cui-black-color-150;
        border-radius: 8px;
      }
    }

    .item:hover {
      margin: 0;
      padding: 16px;
      background-color: $cui-black-color-100;
    }

    .cui-dropdown-menu__close {
      position: absolute;
      right: 16px;
      top: 16px;
      border: none;
      cursor: pointer;
      background: none;
      padding: 0;
      > img {
        height: 24px;
        width: 24px;
        vertical-align: middle;
      }
      display: none;

      @include mobile {
        display: block;
      }
    }
  }
}
