@import '../../../../styles/mixins/media';
@import "../../../../styles/variables";
@import "../../../../styles/mixins/fonts";

.cui-secondary-tabs {
  position: relative;
  max-width: 100%;
  min-width: 0;

  &__tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: 6px;

    &::-webkit-scrollbar {
      display: none;
    }

    transform: translateY(2px);
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    white-space: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
  }

  &__item {
    padding: 2px 8px 2px 2px;
    border-radius: 200px;
    cursor: pointer;
    scroll-margin: 100px;
    color: $cui-black-color;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 44px;

    &:hover {
      background-color: $cui-black-color-100;
    }

    &.selected {
      color: $cui-white-color;
      background-color: $cui-wine-color-500;

      svg path {
        fill: $cui-white-color;
      }
    }

    &-svg {
      width: 32px;
      height: 32px;
    }
  }

  &__item:last-child {
    margin-right: 32px;
  }

  &__item-name {
    @include font-build($cui-font-family-tt-norms,
      $cui-font-xs,
      $cui-font-base,
      $cui-font-bold );
  }

  &__item-img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    object-fit: cover;
  }

  &__navigation {
    position: absolute;
    background-color: $cui-white-color;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 32px;

    &.left {
      left: 0;
      top: 2px;
    }

    &.right {
      right: 0;
      top: 2px;
    }
  }

  &__navigation:hover {
    background-color: $cui-black-color-100;
  }
}


/*
.cui-tabs-container-exp {
  * {
    box-sizing: border-box;
  }

  height: 102px;
  padding: 0;
  position: relative;
  border-bottom: 2px solid $cui-black-color-200;

  



  .cui-tabs-container__button {
    background-color: white;
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  .cui-tabs-container__gradient {
    width: 40px;
    height: 100%;
    background: linear-gradient(270deg, #FFFFFF 21.42%, rgba(255, 255, 255, 0) 100%);

    &.left {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &.right {
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }

  .cui-tabs-container__icon {
    width: 48px;
    height: 48px;

    svg {
      height: 100%;
    }
  }

  .cui-tabs-container__tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    transform: translateY(2px);
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    white-space: nowrap;
    overflow: auto;
    scroll-behavior: smooth;

    .cui-tabs-container__item {
      display: inline-grid;
      padding: 4px 8px 8px;
      margin: 0 2px;
      height: 100%;
      min-width: 78px;
      cursor: pointer;
      scroll-margin: 100px;

      &:hover {
        background-color: $cui-black-color-100;
      }

      &.selected {
        border-bottom: 2px solid $cui-wine-color-500;
        color: $cui-wine-color-500;

        svg {
          stroke: $cui-wine-color-500;
        }
      }

      .cui-tabs-container__item-name {
        @include font-build($cui-font-family-tt-norms,
          $cui-font-sm,
          $cui-font-xl,
          $cui-font-bold );
        text-align: center;
        margin-top: 4px;
      }

      .cui-tabs-container__item-img {
        width: 62px;
        height: 62px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100px;
        object-fit: cover;

        &.scrolling {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
*/