@import '../../assets/styles/scss/mixins';
@import '../../assets/styles/scss/variables';

.socialLinks {
  display: flex;
  background: #ffffff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  margin-top: 16px;
  padding: 12px 0;
  box-sizing: border-box;
  height: 48px;
  justify-content: center;

  .socialLink {
    padding: 0 16px;
    cursor: pointer;
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: block;

    @include mobile {
      width: 24px;
      height: 24px;
    }
  }
}

.facebook {}

.copyLink {}

.twitter {}

.email {}
