@import '../../../../styles/mixins/media';
@import "../../../../styles/variables";
@import "../../../../styles/mixins/fonts";


.cui-tabs-container-exp {
  * {
    box-sizing: border-box;
  }

  height: 94px;
  padding: 0;
  position: relative;
  border-bottom: 2px solid $cui-black-color-200;
  max-width: 100%;
  min-width: 0;

  &-small {
    height: 72px;
  }

  &.scrolling {
    height: 73px;
    border-bottom: 0;
    transform: translateY(-2px);
  }

  &__navigation {
    position: absolute;
    background-color: $cui-white-color;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 32px;
    justify-content: center;

    &.left {
      left: 0;
      top: 2px;
    }

    &.right {
      right: 0;
      top: 2px;
    }
  }

  &__navigation:hover {
    background-color: $cui-black-color-100;
  }

  &__button {
    background-color: white;
    width: 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid $cui-black-color-200;

    &:hover {
      background-color: #f5f5f5;
    }

    img {
      height: 32px;
      width: 32px;
    }
  }

  &__tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .tab-item-tag-container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

      .tab-item-tag {
        padding: 2px;
        border-radius: 2px;
        font-weight: 700;
        font-family: TT Norms Pro;
        font-size: 10px;
      }
    }

    transform: translateY(2px);
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    white-space: nowrap;
    overflow: auto;
    scroll-behavior: smooth;
  }

  &__item {
    display: inline-grid;
    padding: 4px 8px;
    margin: 0 2px;
    height: 100%;
    min-width: 78px;
    cursor: pointer;
    scroll-margin: 100px;
    justify-content: center;

    & .-no-line-height {
      line-height: 0 !important;
    }

    &:hover {
      background-color: $cui-black-color-100;
    }

    &.selected {
      border-bottom: 2px solid $cui-wine-color-500;
      background-color: $cui-white-color;
      color: $cui-wine-color-500;

      .svg {
        filter: invert(23%) sepia(32%) saturate(3320%) hue-rotate(300deg) brightness(89%) contrast(100%);
      }
    }

    &.disabled {
      color: $cui-black-color-300;
      cursor: not-allowed;
      .svg {
        filter: invert(73%) sepia(1%) saturate(16%) hue-rotate(331deg) brightness(95%) contrast(82%);
      } 
    }

    &-small {
      padding: 0px 12px 8px;
      margin: 0;
    }

    &-img-container {
      width: 100%;
      justify-content: center;
      display: flex;
    }
  }

  &__item:last-child {
    margin-right: 32px;
  }

  &__item-name {
    @include font-build($cui-font-family-tt-norms,
      $cui-font-sm,
      $cui-font-xl,
      $cui-font-bold );
    text-align: center;
    margin-top: 4px;
  }

  &__item-img {
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    object-fit: cover;

    &.scrolling {
      width: 40px;
      height: 40px;
    }

    &-small {
      width: 40px;
      height: 40px;
    }
  }
}