@import "../../styles/variables";
@import "../../styles/mixins/fonts";

.cui-card {
    background: $cui-white-color;
    box-shadow: $cui-box-shadow-3;
    border-radius: $cui-card-border-radius;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    @include font-build(
        $cui-font-family-tt-norms,
        $cui-font-sm,
        $cui-line-height-xl,
        $cui-font-normal
    );
}
