@import '../../assets/styles/scss/variables';

@keyframes expandCartControllers {
  0% {
    width: 30px;
  }
  100% {
    width: 90px;
  }
}

@keyframes cartFadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.meal_card {
  position: relative;
  width: 100%;
  min-width: 286px;
  height: 340px;
  background: $cookunity-white;
  box-shadow: 0px 8px 16px rgba(35, 31, 32, 0.06);
  // border: 2px solid transparent;
  border-radius: 8px;
  font-family: Gilroy, Roboto, sans-serif;
  overflow: hidden;
  box-sizing: border-box;

  &.in_cart {
    border: 2px solid $cookunity-green;
  }

  &.in_past_order {
    margin-right: 16px;
    border: 1px solid #DDDDDD;
  }

  &.loading {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #eff1f3 4%, #e8e8e8 25%, #eff1f3 36%);
    background-size: 1000px 100%;
    cursor: default;
  }

  &__top {
    width: 100%;
    height: 220px;
    background-position: center;
    background-size: auto 135%;
    background-repeat: no-repeat;
    // padding: 10px 16px;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;

    .main_meal_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .no__stock {
      opacity: 0.2;
    }

    &.no_image {
      background-color: #efefef;
      .no_image_text {
        position: absolute;
        top: calc(50% - 10px);
        text-align: center;
        left: 0;
        width: 100%;
      }
    }

    .no_stock_text {
      position: absolute;
      top: calc(50% - 10px);
      text-align: center;
      left: 0;
      width: 100%;
      text-transform: uppercase;
    }

    @media (max-width: 720px) {
      background-size: auto 160%;
    }

    &_tags {
      position: absolute;
      bottom: 8px;
      margin: 0 10px;
    }
  }

  &__icon_tag {
    padding: 4px !important;
  }

  &__tag {
    padding: 8px 8px;
    background-color: #ffffffd9;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid #eeeeee;
    font-size: 11px;
    font-weight: 800;
    margin-right: 4px;
    vertical-align: middle;
    height: 35px;
    line-height: 1.6;
    box-sizing: border-box;
    font-weight: bold;
    position: relative;

    .icon_tag {
      height: 24px;
      width: 24px;
      object-fit: cover;
    }

    &.only_icon {
      padding: 4px;
      .tooltip {
        display: none;
      }

      &:hover {
        .tooltip {
          display: inline-block;
        }
      }
    }

    &.featured {
      color: $cookunity-white;
      background-color: #4d4d4f;
      box-shadow: 0px 2px 8px rgba(35, 31, 32, 0.1);
      height: 24px;
      padding: 3px 8px;
    }

    > span {
      &.star {
        color: $cookunity-secondary-yellow;
        > img {
          width: 10px;
          margin-right: 3px;
        }
      }
      &.reviews {
        color: $cookunity-gray-2;
        font-family: 'Gilroy Semibold', 'Roboto', sans-serif;
        font-weight: 600;
      }
    }
  }

  .button__like { 
    z-index: 2; 
    position: absolute; 
    right: 0; 
    top: 0px; 
    margin: 6px 20px 0 0; 
    border-radius: 30px; 
    width: 20px; 
    height: 17px; 
    cursor: pointer;

    &.disabled {
      pointer-events: none;
    }

    @media (max-width: 720px) {
      margin: 6px 15px 0 0;
    }

    img {
      @media (max-width: 720px) {
        position: absolute;
        right: 0;
      }
    }
  }

  &__title {
    width: 100%;
    height: 39px;
    overflow: hidden;
    line-height: 1.2em;
    padding: 0 16px;
    margin: 16px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;

    &_name {
      max-height: 40px;
      overflow: hidden;
      font-size: 18px;
      font-weight: 'bold';
      margin-bottom: 3px;
    }

    &_description {
      font-family: 'Gilroy Semibold', 'Roboto', sans-serif;
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      color: $cookunity-gray-2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__chef_container {
    position: relative;
    cursor: pointer;

    .all_star_budge {
      position: absolute;
      width: 20px;
      left: 20px;
      top: -6px;
    }
    .chef_name {
      font-family: 'Gilroy Semibold', 'Roboto', sans-serif;
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      vertical-align: middle;
      width: 66%;
    }

    .chef_avatar {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid #eeeeee;
      overflow: hidden;
      margin-right: 8px;
      vertical-align: middle;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__warning_container:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      #ee5744;
  }

  &__warning_container {
    position: absolute;
    width: 98px;
    height: 24px;
    background: #ee5744;
    border-radius: 4px;
    padding: 0px 5.33px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    top: 12px;
    border: none;
    cursor: pointer;
    margin: 0 10px;

    img {
      width: 13.33px;
      height: 13.33px;
    }

    p {
      margin: 0;
      font-family: Gilroy;
      font-style: normal;
      font-weight: 800;
      font-size: 12px;
      line-height: 14px;
      color: #ffffff;
    }

    .separator {
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      margin: 0 4px;
      height: 100%;
    }
  }

  .warning__tooltip_container {
    width: 212px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(35, 31, 32, 0.06);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    position: absolute;
    top: 40px;
    z-index: 9;

    span {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 800;
      font-size: 12px;
      line-height: 22px;
      color: #231f20;
    }
  }

  .user_stars_container {
    padding: 5px 0px;
    position: absolute;
    width: 106px;
    height: 26px;
    background: #ffe06c;
    box-shadow: 0px 2px 8px rgba(35, 31, 32, 0.1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    top: 10px;

    .user_star {
      margin-left: 3.19px;
    }

    .user_rating {
      font-family: Gilroy;
      font-style: normal;
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
      color: #231f20;
    }
  }

  .fade_out {
    animation: fadeOut ease 8s;
    -webkit-animation: fadeOut ease 8s;
    -moz-animation: fadeOut ease 8s;
    -o-animation: fadeOut ease 8s;
    -ms-animation: fadeOut ease 8s;
  }



  &__add_to_cart_container {
    .add_to_cart {
      text-align: right;

      .hiden_cart_controllers {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        animation: fadeIn 250ms;
      }

      .premium_fee {
        margin-right: 6px;
        .no_extra_fee_text {
          font-size: 10px;
          margin-bottom: 0px;
          width: 55px;
          text-transform: uppercase;
          color: $cookunity-green;
        }
        .fee {
          font-size: 14px;
          font-weight: 800;
          &.no_extra_fee {
            color: $cookunity-gray-2;
            text-decoration: line-through;
          }
        }
      }

      .cart_controllers {
        border: 1px solid black;
        border-radius: 50px;
        width: 90px;
        float: right;
        height: 30px;
        overflow: hidden;
        white-space: nowrap;

        animation: expandCartControllers 200ms;

        > span {
          font-family: 'Gilroy Semibold', 'Roboto', sans-serif;
          width: 20px;
          display: inline-block;
          text-align: center;
          font-weight: 600;
        }

        > * {
          animation: cartFadeIn 300ms;
        }
      }

      button {
        font-family: 'Gilroy Semibold', 'Roboto', sans-serif;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background: white;
        border: 0px solid;
        margin: 0 2.5px;
        cursor: pointer;
        font-weight: bolder;
        line-height: 1.5;
        font-weight: 600;
        text-align: center;
        padding: 0;

        > img {
          width: 11px;
        }

        &:disabled {
          cursor: default;
          opacity: 0.3;
        }

        &:focus {
          outline-color: transparent;
          outline-style: none;
        }

        &.unselected {
          color: #ffffff;
          background-color: #000;
          &:disabled {
            background-color: #666;
          }
        }

        &.selected {
          color: #ffffff;
          border: none;
          background: $cookunity-green;
        }
      }
    }
  }

  &__footer {
    height: 40px;
    padding: 16px;
    padding-top: 0;
    display: flex;
    align-items: center;

    > div {
      width: 100%;
    }
  }
}

.tooltip {
  position: absolute;
  background-color: #292929;
  color: #ffffff;
  text-align: center;
  padding: 2px 8px;
  border-radius: 4px;
  top: -30px;
  font-family: 'Roboto';
  transform: translateX(-50%);
  left: 50%;
  font-size: 10px;

  &:after {
    content: ' ';
    width: 6px;
    height: 6px;
    background-color: inherit;
    position: absolute;
    bottom: -3px;
    left: calc(50% - 3px);
    transform: rotate(45deg);
  }
}
