#mealDisclaimer {
  border: 1px dashed #dddddd;
  box-sizing: border-box;
  border-radius: 4px;

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  img {
    background-color: black;
  }
}
