@import "../../../../styles/variables";
@import "../../../../styles/mixins/fonts";

.cui-meal-favorite {
   position: absolute;
   top: 20px;
   right: 18px;
   display: block;
   width: 24px;
   height: 24px;
   z-index: 1;
}

.cui-meal-favorite-icon {
   path {
      fill: $cui-wine-color-500;
   }
}