@import '../../styles/variables';
@import '../../styles/mixins/fonts';
@import '../../styles/mixins/media';

.cui-hp-modal {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 30% 70%;

  @include mobile {
    grid-template-columns: 100%;
    grid-template-rows: 390px auto;
  }

  .cui-hp-image {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .cui-hp-content {
    padding: 71px 30px 47px;

    @include mobile {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      padding: 36px 16px;
      margin-top: -23px;

      background-color: $cui-white-color;
    }

    .cui-hp-title {
      margin: 0;

      text-align: center;
      white-space: pre-wrap;
      color: $cui-black-color;

      @include font-build(
        $cui-font-family-source-serif,
        $cui-font-4xl,
        $cui-line-height-6xl,
        $cui-font-extrabold
      );

      @include mobile {
        margin-bottom: 0;

        font-size: $cui-font-3xl;
        line-height: $cui-line-height-4xl;
      }
    }

    .cui-hp-description {
      margin: 21px auto 66px;

      text-align: center;
      letter-spacing: -0.3px;

      color: $cui-black-color;

      @include font-build(
        $cui-font-family-tt-norms,
        $cui-font-base,
        $cui-line-height-xl,
        $cui-font-normal
      );

      @include mobile {
        margin: 28px 0 42px;

        font-size: $cui-font-sm;
        line-height: $cui-line-height-lg;
      }
    }

    .cui-hp-action {
      display: flex;
      justify-content: center;
      gap: 1rem;

      @include mobile {
        flex-direction: column;
      }
    }
  }
}
