@import "../../../../styles/variables";

.cui-meal-image {
   position: relative;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   overflow: hidden;

   .cui-meal-card-tags {
      position: absolute;
      bottom: $cui-gutter;
      left: $cui-gutter-large;
   }
}
