@import '../../../../styles/variables';
@import '../../../../styles/mixins/fonts';

.cui-meal-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
