// ##############################
// ##############################
// ##############################
// #     New Rebranding 22      #
// ##############################
// ##############################
// ##############################

// Colors
$cui-black-color:  #000;
$cui-black-color-100:  #f5f5f5;
$cui-black-color-150:  #eee;
$cui-black-color-200:  #ddd;
$cui-black-color-300:  #a8a8a8;
$cui-black-color-350:  #707070;
$cui-black-color-400:  #4d4d4f;
$cui-black-color-500:  #231F20;

$cui-white-color:  #fff;

$cui-yellow-color-500:  #ffc84e;
$cui-yellow-color-600:  #ffb81c;

$cui-wine-color-300:  #bd4e83;
$cui-wine-color-500:  #97225a;
$cui-wine-color-700:  #6d1a42;

$cui-olive-green-color-200: #d4e9b9;
$cui-olive-green-color-500: #199861;
$cui-olive-green-color-700: #0d6d44;

$cui-light-blue-200: #c7c7fb;
$cui-light-blue-700: #3939d8;
$cui-light-blue-900: #121286;

$cui-pink-200: #f8c2e0;
$cui-pink-300: #f68ac6;
$cui-pink-500: #da1884;

$cui-gold-500: #c7b273;

$cui-orange-color-500: #FFB156;

// Font Families
$cui-font-family-source-serif: 'Source Serif Pro';
$cui-font-family-tt-norms: 'TT Norms Pro';
$cui-font-family-rossanova: 'Rossanova';
$cui-font-family-avallon: 'Avallon';

// Fonts Sizes
$cui-font-xxs: 10px;
$cui-font-xs: 12px;
$cui-font-sm: 14px;
$cui-font-base: 16px;
$cui-font-lg: 18px;
$cui-font-xl: 20px;
$cui-font-2xl: 24px;
$cui-font-3xl: 28px;
$cui-font-4xl: 36px;
$cui-font-6xl: 48px;
$cui-font-8xl: 60px;

// Line height
$cui-line-height-xxs: 10px;
$cui-line-height-xs: 12px;
$cui-line-height-sm: 14px;
$cui-line-height-base: 16px;
$cui-line-height-lg: 18px;
$cui-line-height-xl: 20px;
$cui-line-height-2xl: 24px;
$cui-line-height-3xl: 28px;
$cui-line-height-4xl: 36px;
$cui-line-height-6xl: 48px;
$cui-line-height-8xl: 60px;

// Font weight
$cui-font-normal: 400; // normal = regular
$cui-font-bold: 700;
$cui-font-extrabold: 800;

// Spaces
$cui-gutter: 8px;
$cui-gutter-large: 16px;

// Buttons
$cui-font-button-small: $cui-font-sm;
$cui-space-button-small: 7px 16px;
$cui-height-button-small: 34px;

$cui-font-button-medium: $cui-font-sm;
$cui-space-button-medium: 9px 24px;
$cui-height-button-medium: 38px;

$cui-font-button-large: $cui-font-base;
$cui-space-button-large: 12px 32px;
$cui-height-button-large: 48px;

// FAB Buttons
$cui-fab-font: $cui-font-sm;
$cui-fab-radius: 100%;
$cui-fab-size: 32px;

// Tags
$cui-font-tag-small: $cui-font-sm;
$cui-space-tag-small: 4px;

$cui-font-tag-medium: $cui-font-base;
$cui-space-tag-medium: 8px;

$cui-font-tag-large: $cui-font-lg;
$cui-space-tag-large: 12px;

// Header
$cui-header-height: 72px;

// Inputs
$cui-height-input-small: 40px;
$cui-font-input-small: $cui-font-sm;
$cui-space-input-small: 10px 12px;

// Segments
$cui-space-segment: 24px;

// Progress Bar
$cui-height-progress-bar: 6px;