@import "../variables";

@mixin font-build($font-family, $font-size, $line-height, $font-bold) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-bold;
}

@mixin font-source-serif-pro() {
  @font-face {
    font-family: $cui-font-family-source-serif;
    font-weight: $cui-font-bold;
    font-style: normal;
    font-display: swap;
    src: local($cui-font-family-source-serif),
      url("https://statics.cookunity.com/fonts/source-serif-pro/source-serif-pro-bold.woff2")
        format("woff2"),
      url("https://statics.cookunity.com/fonts/source-serif-pro/source-serif-pro-bold.woff")
        format("woff"),
      url("https://statics.cookunity.com/fonts/source-serif-pro/source-serif-pro-bold.ttf")
        format("truetype");
  }
  @font-face {
    font-family: $cui-font-family-source-serif;
    font-weight: $cui-font-normal;
    font-style: normal;
    font-display: swap;
    src: local($cui-font-family-source-serif),
      url("https://statics.cookunity.com/fonts/source-serif-pro/source-serif-pro-regular.woff2")
        format("woff2"),
      url("https://statics.cookunity.com/fonts/source-serif-pro/source-serif-pro-regular.woff")
        format("woff"),
      url("https://statics.cookunity.com/fonts/source-serif-pro/source-serif-pro-regular.ttf")
        format("truetype");
  }
}

@mixin font-rossanova() {
  @font-face {
    font-family: $cui-font-family-rossanova;
    font-weight: $cui-font-bold;
    font-style: normal;
    font-display: swap;
    src: local($cui-font-family-rossanova),
      url("https://statics.cookunity.com/fonts/rossanova/rossanova-bold.woff2") format("woff2"),
      url("https://statics.cookunity.com/fonts/rossanova/rossanova-bold.woff") format("woff"),
      url("https://statics.cookunity.com/fonts/rossanova/rossanova-bold.ttf") format("truetype");
  }
}

@mixin font-avallon() {
  @font-face {
    font-family: $cui-font-family-avallon;
    font-weight: $cui-font-bold;
    font-style: normal;
    font-display: swap;
    src: local($cui-font-family-avallon),
      url("https://statics.cookunity.com/fonts/avallon/avallon.woff2") format("woff2"),
      url("https://statics.cookunity.com/fonts/avallon/avallon.woff") format("woff"),
      url("https://statics.cookunity.com/fonts/avallon/avallon.ttf") format("truetype");
  }
}

@mixin font-tt-norms() {
  @font-face {
    font-family: $cui-font-family-tt-norms;
    font-weight: $cui-font-normal;
    font-style: normal;
    font-display: swap;
    src: local($cui-font-family-tt-norms),
      url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-normal.woff2") format("woff2"),
      url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-normal.woff") format("woff"),
      url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-normal.ttf") format("truetype");
  }
  @font-face {
    font-family: $cui-font-family-tt-norms;
    font-weight: $cui-font-normal;
    font-style: italic;
    font-display: swap;
    src: local($cui-font-family-tt-norms),
      url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-normal-italic.woff2")
        format("woff2"),
      url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-normal-italic.woff")
        format("woff"),
      url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-normal-italic.ttf")
        format("truetype");
  }
  @font-face {
    font-family: $cui-font-family-tt-norms;
    font-weight: $cui-font-bold;
    font-style: normal;
    font-display: swap;
    src: local($cui-font-family-tt-norms),
      url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-bold.woff2") format("woff2"),
      url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-bold.woff") format("woff"),
      url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-bold.ttf") format("truetype");
  }
}
