@import '../../styles/variables';
@import '../../styles/mixins/buttons';
@import '../../styles/mixins/fonts';

.cui-fab-button {
  align-items: center;
  border-radius: $cui-fab-radius;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-style: solid;

  @include font-build(
    $cui-font-family-tt-norms,
    $cui-fab-font,
    $cui-line-height-2xl,
    $cui-font-bold
  );

  &:hover {
    cursor: pointer;
  }

  &-fixed {
    z-index: $z-50;
    position: absolute;
  }

  &-medium {
    height: $cui-fab-size;
    width: $cui-fab-size;
  }

  &-large {
    width: $cui-fab-size-large;
    height: $cui-fab-size-large;
    font-size: $cui-fab-font-large;
  }

  &-dark {
    color: $cui-white-color;
    background-color: $cui-black-color;
    border-color: $cui-black-color;
    border-style: solid;

    @include build-button-state(
      hover,
      $cui-black-color-400,
      $cui-black-color-400,
      $cui-white-color
    );

    @include build-button-state(
      focus,
      $cui-black-color-400,
      $cui-black-color,
      $cui-white-color
    );

    @include build-button-state(
      disabled,
      $cui-black-color-300,
      $cui-black-color-300,
      $cui-white-color
    );

    @include build-fill-button(
      $cui-black-color,
      $cui-black-color,
      $cui-white-color
    );

    &-border {
      border: 2px solid $cui-white-color;

      &:hover {
        border-color: $cui-white-color;
      }
    }
  }

  &-light {
    @include build-button-state(
      hover,
      $cui-white-color,
      $cui-white-color,
      $cui-black-color-400
    );

    @include build-button-state(
      focus,
      $cui-black-color-400,
      $cui-white-color,
      $cui-white-color
    );

    @include build-button-state(
      disabled,
      $cui-white-color,
      $cui-white-color,
      $cui-black-color-300
    );

    @include build-fill-button(
      $cui-white-color,
      $cui-white-color,
      $cui-black-color
    );

    &-border {
      border: 2px solid $cui-black-color;

      &:hover {
        border-color: $cui-black-color;
      }
    }
  }
}
