@import "../../styles/variables";
@import "../../styles/mixins/fonts";

.cui-fab-button {
    align-items: center;
    border-radius: $cui-fab-radius;
    display: flex;
    height: $cui-fab-size;
    justify-content: center;
    overflow: hidden;
    width: $cui-fab-size;

    @include font-build(
        $cui-font-family-tt-norms,
        $cui-fab-font,
        $cui-line-height-2xl,
        $cui-font-bold
    );

    &:hover {
        cursor: pointer;
    }

    &-dark {
        color: $cui-white-color;
        background-color: $cui-black-color;
        border-color: $cui-black-color;
        border-style: solid;
    }
    &-light {
        color: $cui-black-color;
        background-color: $cui-white-color;
        border-color: $cui-white-color;
        border-style: solid;
    }
}
