@import '../../assets/styles/scss/mixins';
@import '../../assets/styles/scss/variables';

.menuByContainer {
  width: 100%;

  .menuBar {
    height: 50px;
    display: flex;
    align-items: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    position: relative;

    @include mobile {
      position: initial;
      margin-top: 10px;
    }

    &.scrolling {
      width: 45px;
      height: 50px;
      top: 10px;
      float: left;
      display: inline-flex;
      border-right: 1px solid #DDDDDD;
      justify-content: center;
    }

    .primaryText {
      color: $cookunity-black;

      &.scrolling {
        display: none;
      }
    }

    .secondaryText {
      color: $cookunity-secondary-dark-green;
      margin-left: 3px;
      cursor: pointer;

      img {
        width: 10px;
        margin-left: 5px;

        &.scrolling {
          margin-left: 0;
        }
      }

      .arrowUp {
        transform: rotate(180deg);
      }
    }
  }

  .tabsContainer {
    &.scrolling {
      margin-left: 51px;
    }
  }
}
