@import "../../styles/variables";
@import "../../styles/mixins/fonts";

.cui-segment-button {
    display: inline-flex;
    @include font-build(
        $cui-font-family-tt-norms,
        $cui-font-button-medium,
        $cui-line-height-xl,
        $cui-font-bold
    );
    padding-bottom: $cui-space-segment;
    padding-top: $cui-space-segment;

    &-active {
        border-bottom: 4px solid currentColor;
    }


    &:hover {
        cursor: pointer;
    }
}