@import "../variables";

.cui-color-dark {
    color: $cui-black-color;
}
.cui-color-light {
    color: $cui-white-color;
}

.cui-highlight {
    color: $cui-yellow-color-500;
    font-family: $cui-font-family-avallon;
}