.productIngredientInfo {
  color: black;

  h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 10px 0;
  }

  img {
    width: 250px;
    height: 250px;
    display: block;
    object-fit: cover;
    margin: 0 auto 10px auto;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 10px 0;
  }

  @media (max-width: 720px) {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'title title' 'image desc';
    column-gap: 24px;

    h2 {
      grid-area: title;
      margin-bottom: 40px;
    }
    img {
      grid-area: image;
      width: 160px;
      height: 160px;
      margin: 0;
    }

    p {
      grid-area: desc;
    }
  }
}
